# Setup

## Imports

In [1]:
import json

import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_colwidth = 150

from analyse.Customer import CustomerTmobile,CustomerKPN
import analyse.config as config

import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'C:/Users/agvanturnhout/Documents/ProjectenVWT/Git_repos/gcredentials/vwt-d-gew1-fttx-dashboard.json'
os.environ["OAUTHLIB_INSECURE_TRANSPORT"]="1"


from IPython.display import display_html

## Function to render multiple dataframse

In [2]:
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline; margin:10px"'),raw=True)

## Load the data

In [3]:
client_name = 'kpn'
client_config = config.client_config[client_name]
kpn = CustomerTmobile(client_config) # Using the Tmobile customer thing to get the data in the new way.
df_kpn = kpn.get_data()

Number of records in Arnhem Gulden Bodem Schaarsbergen: 4903
Time: 0.12495126326878865 minutes
Number of records in Arnhem Klarendal: 10158
Time: 0.27844207286834716 minutes
Number of records in Arnhem Malburgen: 8390
Time: 0.40804310242335 minutes
Number of records in Arnhem Spijkerbuurt: 2731
Time: 0.45062137047449746 minutes
Number of records in Bavel: 3158
Time: 0.4998051285743713 minutes
Number of records in Bergen op Zoom Oost: 7945
Time: 0.6208887577056885 minutes
Number of records in Bergen op Zoom oude stad: 11500
Time: 0.7889551719029745 minutes
Number of records in Bergen op Zoom Noord en Halsteren: 0
Time: 0.7924473126729329 minutes
Number of records in Breda Brabantpark: 11990
Time: 0.9741347114245097 minutes
Number of records in Breda Tuinzicht: 15815
Time: 1.2069117546081543 minutes
Number of records in Brielle: 7672
Time: 1.2716832518577577 minutes
Number of records in Den Haag - Haagse Hout-Bezuidenhout West: 0
Time: 1.27458336353302 minutes
Number of records in Den Haag Morgenstond west: 9418
Time: 1.4140165527661641 minutes
Number of records in Den Haag - Vrederust en Bouwlust: 0
Time: 1.417087153593699 minutes
Number of records in Helvoirt POP Volbouw: 3160
Time: 1.4471823136011759 minutes
Number of records in KPN Gouda Kort Haarlem en Noord: 12013
Time: 1.6171552379926046 minutes
Number of records in Gouda Centrum: 9818
Time: 1.7572979211807251 minutes
Number of records in KPN Spijkernisse: 11081
Time: 1.9170839548110963 minutes
Number of records in Nijmegen Biezen-Wolfskuil-Hatert : 8806
Time: 2.0430641333262125 minutes
Number of records in Nijmegen Bottendaal: 2510
Time: 2.0813303788503013 minutes
Number of records in Nijmegen Dukenburg: 9264
Time: 2.228669206301371 minutes
Number of records in Nijmegen Oosterhout: 2077
Time: 2.26098952293396 minutes

In [4]:
project = "Arnhem Gulden Bodem Schaarsbergen"

# Old method

In [5]:
def masks_phases(pkey, df_l):
    def calculate_bar(bar_m, mask):
        bar = {}
        for key in bar_m:
            len_b = (bar_m[key] & mask).value_counts()
            if True in len_b:
                bar[key[0:-5]] = str(len_b[True])
            else:
                bar[key[0:-5]] = str(0)
        return bar

    df = df_l[pkey]
    bar_m = {'SchouwenLB0-mask': (df['toestemming'].isna()) &
                                 (df['soort_bouw'] == 'Laag'),
             'SchouwenLB1-mask': (~df['toestemming'].isna()) &
                                 (df['soort_bouw'] == 'Laag'),
             'SchouwenHB0-mask': (df['toestemming'].isna()) &
                                 (df['soort_bouw'] != 'Laag'),
             'SchouwenHB1-mask': (~df['toestemming'].isna()) &
                                 (df['soort_bouw'] != 'Laag'),
             'BISLB0-mask': (df['opleverstatus'] == '0') &
                            (df['soort_bouw'] == 'Laag'),
             'BISLB1-mask': (df['opleverstatus'] != '0') &
                            (df['soort_bouw'] == 'Laag'),
             'BISHB0-mask': (df['opleverstatus'] == '0') &
                            (df['soort_bouw'] != 'Laag'),
             'BISHB1-mask': (df['opleverstatus'] != '0') &
                            (df['soort_bouw'] != 'Laag'),
             'Montage-lasDPLB0-mask': (df['laswerkdpgereed'] == '0') &
                                      (df['soort_bouw'] == 'Laag'),
             'Montage-lasDPLB1-mask': (df['laswerkdpgereed'] == '1') &
                                      (df['soort_bouw'] == 'Laag'),
             'Montage-lasDPHB0-mask': (df['laswerkdpgereed'] == '0') &
                                      (df['soort_bouw'] != 'Laag'),
             'Montage-lasDPHB1-mask': (df['laswerkdpgereed'] == '1') &
                                      (df['soort_bouw'] != 'Laag'),
             'Montage-lasAPLB0-mask': (df['laswerkapgereed'] == '0') &
                                      (df['soort_bouw'] == 'Laag'),
             'Montage-lasAPLB1-mask': (df['laswerkapgereed'] == '1') &
                                      (df['soort_bouw'] == 'Laag'),
             'Montage-lasAPHB0-mask': (df['laswerkapgereed'] == '0') &
                                      (df['soort_bouw'] != 'Laag'),
             'Montage-lasAPHB1-mask': (df['laswerkapgereed'] == '1') &
                                      (df['soort_bouw'] != 'Laag'),
             'HASLB0-mask': (df['opleverdatum'].isna()) &
                            (df['soort_bouw'] == 'Laag'),
             'HASLB1-mask': (df['opleverstatus'] == '2') &
                            (df['soort_bouw'] == 'Laag'),
             'HASLB1HP-mask': (df['opleverstatus'] != '2') &
                              (~df['opleverdatum'].isna()) &
                              (df['soort_bouw'] == 'Laag'),
             'HASHB0-mask': (df['opleverdatum'].isna()) &
                            (df['soort_bouw'] != 'Laag'),
             'HASHB1-mask': (df['opleverstatus'] == '2') &
                            (df['soort_bouw'] != 'Laag'),
             'HASHB1HP-mask': (df['opleverstatus'] != '2') &
                              (~df['opleverdatum'].isna()) &
                              (df['soort_bouw'] != 'Laag')}

    document_list = []
    mask_level0 = True
    bar = calculate_bar(bar_m, mask=mask_level0)
    bar_names = ['0']
    record = dict(bar=bar)
    document = dict(record=record,
                    filter="0",
                    graph_name="status_bar_chart",
                    project=pkey)
    document_list.append(document)

    for key2 in bar_m:
        mask_level1 = bar_m[key2]
        bar = calculate_bar(bar_m, mask=mask_level0 & mask_level1)
        bar_names += ['0' + key2[0:-5]]
        record = dict(bar=bar,
#                       mask=json.dumps(df[mask_level0 & mask_level1].sleutel.to_list())
                     )
        document = dict(record=record,
                        filter="0" + key2[0:-5],
                        graph_name="status_bar_chart",
                        project=pkey)
        document_list.append(document)

        for key3 in bar_m:
            mask_level2 = bar_m[key3]
            bar = calculate_bar(bar_m, mask=mask_level0 & mask_level1 & mask_level2)
            bar_names += ['0' + key2[0:-5] + key3[0:-5]]
            record = dict(bar=bar,
#                           mask=json.dumps(df[mask_level0 & mask_level1 & mask_level2].sleutel.to_list())
                         )
            document = dict(record=record,
                            filter="0" + key2[0:-5] + key3[0:-5],
                            graph_name="status_bar_chart",
                            project=pkey)
            document_list.append(document)
    return document_list

In [6]:
df_l = {project: df_kpn[df_kpn.project==project]}
%time document_list = masks_phases(project, df_l)
filtered_record_dict = {d['filter']:d['record'] for d in document_list}

def andres_func(filter_code="0"):
    return filtered_record_dict[filter_code]['bar']

Wall time: 15 s

# New method with group by

In [7]:
def _calculate_status_df():
    has_calculation = pd.concat([
        df_kpn['opleverdatum'].isna(),
        df_kpn['opleverstatus'] == '2',
        (
            (df_kpn['opleverstatus'] != '2') &
            (~df_kpn['opleverdatum'].isna())
        )
      ], axis=1).astype(int)
    has_calculation.columns = ['niet_opgeleverd', "opgeleverd", "opgeleverd_zonder_hc"]
    has_calculation['res'] = (has_calculation.niet_opgeleverd + 2 * has_calculation.opgeleverd + 3 * has_calculation.opgeleverd_zonder_hc) -1

    business_rules_list = [
        [~df_kpn['toestemming'].isna(), "geschouwd"],
        [df_kpn['opleverstatus'] != '0', "bis_gereed"],
        [df_kpn['soort_bouw'] == 'Laag', "laagbouw"],
        [df_kpn['laswerkdpgereed'] == '1', "lasDP"],
        [df_kpn['laswerkapgereed'] == '1', "lasAP"],
        [has_calculation.res.apply(lambda x: has_calculation.columns[x]), "HAS"],

    ]
    neccesary_info_list = [
        [df_kpn['sleutel'], "sleutel"],
        [df_kpn['project'], "project"]
    ]
    
    series_list = business_rules_list + neccesary_info_list
    
    cols, colnames = list(zip(*series_list))
    status_df = pd.concat(cols, axis=1)
    status_df.columns = colnames
    return status_df

def calculate_status_counts_per_project():
    status_df = _calculate_status_df()
    status_counts_dict = {}
    colnames = list(status_df.columns)
    for project in status_df.project.unique():
        project_status = status_df[status_df.project==project][colnames[:-1]]
        status_counts_dict[project]=project_status.groupby(colnames[:-2]).count().reset_index()
    return status_counts_dict

In [9]:
%time counts_dict = calculate_status_counts_per_project()

Wall time: 919 ms

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [23]:
def eriks_func(counts, click_filter = None):
    categories = ["geschouwd",
                  "bis_gereed",
                  "lasDP",
                  "lasAP",
                  "HAS"]
    result_list = []
    
    mask = True
    if click_filter:
        for col, value in click_filter.items():
            mask = mask & counts[col]==value
    
    for category in categories:
#         cols = list(dict.fromkeys(cols_in_filter + [category]))
        cols = [category]
        cols.append("laagbouw")
        cols_to_see = cols + ["sleutel"]
        result_list.append(counts[mask][cols_to_see].groupby(cols).sum().rename(columns={"sleutel": "count"}))
    return result_list

%time res = eriks_func(counts_dict[project], {"geschouwd": True, "bis_gereed": True})
display_side_by_side(*res)

Wall time: 33.6 ms

# Test omgeving

In [20]:
andres_func()

{'SchouwenLB0': '221',
 'SchouwenLB1': '2537',
 'SchouwenHB0': '868',
 'SchouwenHB1': '1277',
 'BISLB0': '1606',
 'BISLB1': '1152',
 'BISHB0': '1483',
 'BISHB1': '662',
 'Montage-lasDPLB0': '2316',
 'Montage-lasDPLB1': '442',
 'Montage-lasDPHB0': '2006',
 'Montage-lasDPHB1': '139',
 'Montage-lasAPLB0': '2313',
 'Montage-lasAPLB1': '445',
 'Montage-lasAPHB0': '1927',
 'Montage-lasAPHB1': '218',
 'HASLB0': '2609',
 'HASLB1': '127',
 'HASLB1HP': '22',
 'HASHB0': '2140',
 'HASHB1': '4',
 'HASHB1HP': '1'}

In [33]:
%time res = eriks_func(counts_dict[project], {'geschouwd': True, 'laagbouw': True})
display_side_by_side(*res)

Wall time: 30 ms

,,count
geschouwd,laagbouw,
True,True,2537
,,count
bis_gereed,laagbouw,
False,True,1463
True,True,1074
,,count
lasDP,laagbouw,
False,True,2130
True,True,407
,,count
lasAP,laagbouw,
False,True,2128
True,True,409
,,count
HAS,laagbouw,
niet_opgeleverd,True,2402
opgeleverd,True,118
opgeleverd_zonder_hc,True,17